@font-face {
    font-family: 'BlackWave';
    src: url(fonts/redemption-font/Redemption.ttf);
}
@font-face {
    font-family: 'Valorant';
    src: url(fonts/valorant/Valorant\ Font.ttf);
}
body{
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #444444;
}
main{
    background-color: #ff000075;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
}
#background-video-games {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
}
#background-video-personajes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
}
#background-video-register {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
}
header{
    font-size: 14px;
    font-family: 'valorant';
    padding: 20px;
    text-align: center;
    border-color: #ff0000;
    border-width: 3px;
    border-style: solid;
    position: sticky;
    top: 0;
    align-items: center;
    border-radius: 0px;
    color: #ffffff;
    background-color: #ff000075;
}
.title{
    text-align: center;
    font-family: 'BlackWave';
    background-color: #ff000075;
    border-radius: 10px;
    padding: 10px;
    border: #ff0000 solid 1px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.empty-space{
    padding: 20px;
    height: 150px;
}
.login-form{
    background-color: #ff000075;
    border-radius: 10px;
    padding: 20px;
    border: #ff0000 solid 1px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    margin: auto;
}
input{
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ff0000;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.submit-button{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}
nav{
    border-width: 3px;
    border-style: solid;
    border-color: #ff0000;
    border-radius: 0px;
    background-color: #ff110085;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}   
.nav-link{
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    font-size: 10px;
}
.used-nav-link{
    border: 2px solid #ff0000;
    border-radius: 10px;
    text-decoration: none;
    background-color: #ff000075;
    color: #ffffff;
    padding: 8px;
}
.link-important{
    font-size: 23px;
}
.link-semi-important{
    font-size: 20px;
}
section{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nav-link:hover{
    color: #ff0000;
    transition: color 0.3s ease;
}
article{
    flex: 2;
    background-color: #ff000075;
    padding: 20px;
    border-radius: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: #ff0000;
}
aside{
    flex: 1;
    background-color: #ff000075;
    padding: 20px;
    border-radius: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: #ff0000;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 24px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 16px;
}
ul, li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
.notice{
    border: 2px solid #ff0000;
    background-image: linear-gradient(to right, #ff0000, #ff000000) !important;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.comentario{
    background-color: #ff000075;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}
.game-letter-title {
    font-family: 'Valorant';
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    border: #ff0000 solid 2px;
    border-radius: 10px;
    padding: 10px;
}
.card-game {
    height: 100px;
    flex: 1;
    flex-direction: column;
    flex: 1;
    background-color: #ff000075;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: #ff0000 solid 1px;
}
.card-game:hover {
    border: #ff0000 solid 2px;
    color: #ffffff;
    background-image: linear-gradient(rgba(153, 153, 153, 0.699), rgba(165, 165, 165, 0.767)),;
    transition: color 0.3s ease;
}
.game-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.title-cards{
    background-image: linear-gradient(to right, #ff0000, #ff000000) !important;
    padding: 20px;
    font-family: 'BlackWave';
}
.game-card-container {
    display: flex;
    margin: 10px;
}
.smash-64 {
    font-family: 'Valorant';
    color: #ffffff !important;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('../styles/pictures/SI_WiiVC_SuperSmashBros_image1600w.jpg');
    background-size: cover;
    background-position: center;
}
.smash-pack{
    font-family: 'Valorant';
    color: #ffffff !important;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../styles/pictures/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
}
.smash-melee {
    font-family: 'Valorant';
    color: #ffffff !important;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../styles/pictures/melle.jpg');
    background-size: cover;
    background-position: center;
}
.smash-brawl {
    font-family: 'Valorant';
    color: #ffffff !important;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../styles/pictures/SI_Wii_SuperSmashBrosBrawl_image1600w.jpg');
    background-size: cover;
    background-position: center;
}
.smash-wiiu {
    font-family: 'Valorant';
    color: #ffffff !important;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../styles/pictures/SI_WiiU_SuperSmashBrosForWiiU_image1600w.jpg');
    background-size: cover;
    background-position: center;
}
.street1 {
    font-family: 'Valorant';
    color: #ffffff !important;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../styles/pictures/sf1.jpg');
    background-size: cover;
    background-position: center;
}
.street2 {
    font-family: 'Valorant';
    color: #ffffff !important;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../styles/pictures/sf2.jpg');
    background-size: cover;
    background-position: center;
}
.valorant {
    font-family: 'Valorant';
    color: #ffffff !important;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../styles/pictures/valo.jpg');
    background-size: cover;
    background-position: center;
}
.agent-card-game{
    font-family: 'valorant';
    height: 200px;
    flex: 1;
    flex-direction: column;
    background-color: #ff000075;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    border: #ff0000 solid 1px;
}
.agent-card-game:hover {
    border: #ff0000 solid 2px;
    color: #ffffff;
    background-image: url('../styles/pictures/Valobanner.avif')!important;
    transition: all 0.3s ease;
}